
.interiorDiv,.interiorDiv img{
	height:990px;
	width:80%;
	
}
.interiorDiv{
	margin: 20px auto;
	
}

#appContainer{
	height:100%;
	width:1368px;
	margin:auto;
}
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
  height: 500px;
  width: 100%;
  border:5px solid white;
  font-weight: normal;
  font-family: 'Michroma', 'Aldrich', 'Allerta Stencil', sans-serif;
  color: white;
}

form {
  height: 500px;
  width: 50%;
  display: block;
  margin: auto;
  
}

form input[type='text'], form input[type='email']{
  display: block;
  height: 35px;
  width: 400px;
  margin:15px 0px;
  
}

footer h2{
  display: block;
  text-align: center;
  height: 50px;
  width: 400px;
  margin:auto;
}

form input[type='textarea']{
  display: block;
  height: 150px;
  width: 400px;
  
}

.social {
  line-height: 200px;
  width: 35%;
}
